@model IEnumerable<SSGTaskManager.Models.ETC_Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>ETC Inventory</h1>
<head>

</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/buttons.css" />
<p>
        <a asp-action="Create">
            <button class="editbutton">Register Item</button>
            </a>
</p>

<style>
        table.styled-table {
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid #000000;
            background-color: #FFFFFF;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }

            table.styled-table td, table.styled-table th {
                border: 1px solid #474747;
                padding: 6px 10px;
            }

            table.styled-table tbody td {
                font-size: 12px;
                color: #000000;
            }

            table.styled-table tr:nth-child(even) {
                background: #ECECEC;
            }

            table.styled-table thead {
                background: #FFC527;
                background: -moz-linear-gradient(top, #ffd35d 0%, #ffca3c 66%, #FFC527 100%);
                background: -webkit-linear-gradient(top, #ffd35d 0%, #ffca3c 66%, #FFC527 100%);
                background: linear-gradient(to bottom, #ffd35d 0%, #ffca3c 66%, #FFC527 100%);
            }

                table.styled-table thead th {
                    font-size: 15px;
                    font-weight: bold;
                    color: #000000;
                    text-align: center;
                    border-left: 0px solid #F1BA25;
                }

                    table.styled-table thead th:first-child {
                        border-left: none;
                    }

            table.styled-table tfoot td {
                font-size: 14px;
            }

            table.styled-table tfoot .links {
                text-align: right;
            }

                table.styled-table tfoot .links a {
                    display: inline-block;
                    background: #1C6EA4;
                    color: #FFFFFF;
                    padding: 2px 8px;
                    border-radius: 5px;
                }

</style>
    
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                      
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button class="editbutton">Edit</button>
                            </a>


                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button class="detailsbutton">Details </button>
                            </a>

                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button class="deletebutton">Delete</button>
                            </a>
                     
            </td>
        </tr>
}
    </tbody>
</table>
</body>
