@model IEnumerable<SSGTaskManager.Models.ETC_Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>ETC Inventory</h1>
<head>

</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/buttons.css" />
<p>
    <a asp-action="Create">Create Listing</a>
</p>
<style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 100%px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .styled-table thead tr {
                background-color: #f1ba25;
                color: #ffffff;
                text-align: left;
            }

            .styled-table th,
            .styled-table td {
                padding: 12px 15px;
            }

            .styled-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .styled-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .styled-table tbody tr:last-of-type {
                    border-bottom: 2px solid #f1ba25;
                }

                .styled-table tbody tr.active-row {
                    font-weight: bold;
                    color: #f1ba25;
                }

</style>
    
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        <button class="editbutton">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </button>
                        <button class="detailsbutton">
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                             </button>
                        <button class="deletebutton">
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </button>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
